body {
    background-color: #eaeaea !important;
}


.container {
    margin-left: 0% !important;
}


.navbar {
    margin-top: 2%;
    position: fixed !important;
    position: relative !important;
    border-radius: 20px;
    background-color: aliceblue !important;

}

#burger {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 2%;
}

.container-fluid {
    margin-left: 30% !important;
    margin-top: 2%;
}

.search-img {
    width: 50%;

}

.searchbtn {
    width: 10%;
}

.searchbtn:hover {
    background-color: #4caf50 !important;
}

.form-control {
    width: 40% !important;
}

.allbtn {
    margin-top: 3%;
    width: 100%;

    justify-content: center;
    margin-bottom: 3%;
    /* align-items: center; */



}

.btnAll:hover {
    background-color: #4caf50 !important;
}


.btnAll {
    width: 110px;
    height: 50px;
    margin-left: 3%;
}

.btnB {
    width: 110px;
    height: 50px;
}

.row {
    margin-left: 1% !important;
}


.card {

    text-align: center;
    margin-left: 2% !important;
    margin-top: 2% !important;
    width: 180px !important;
    height: 180px !important;
    border-radius: 10% !important;

}


.card-img-top {
    margin-left: 2.3rem;

    width: 5rem !important;

}

.card-title {
    font-size: medium;
}

.addbtn {
    font-size: medium !important;
    background-color: #4caf50 !important;

    border: 0cap !important;
}



