body {
    background-color: #eaeaea !important;
}
#item-box{
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    height: 450px;
    overflow: auto;
    margin-left: 10%;
    
}

td {
    text-align: center;
  }

.price-box{
    margin-left: 70% !important;

}

.price-name{
    margin-left: 1%;
}
.total-box{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 20px;
}

.a{
    margin-top: 10%;
    margin-bottom: 15%;
}

.pay-box{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 100%;
   
}
.pay-title{
    text-align: center;
   padding-top: 5%;
}


.form-check-label{
    font-size: x-large;
    
}




.paybtn{
    width: 70%;
    height: 12%;
    border-radius: 50px !important;
    background-color: #4caf50 !important;
    font-size: xx-large !important;
    margin-left: 16%;
    margin-top: 30%;
}

.paybox{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    /* background-color: #4caf50; */
    border-radius: 60px !important;
    border: #4caf50 !important;
   
}
.mode{
    margin-top: 20%;
}
.border{
    border-radius: 30px !important;
    
}